@import "tailwindcss";


@variant dark (&:where(.dark, .dark *));

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
